* { margin: 0; padding: 0; }

a{
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  font-family: Verdana, sans-serif;
  position: absolute;
  overflow-x: hidden;
}

.header{
  background: #1C7BA2;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
}

.usuario{
  color: #FEFEFE;
  text-align: right;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  margin-right: 30px;
  display: inline-block;
}

.titulo{
  color: #FEFEFE;
  height: 75px;
  text-align: left;
  line-height: 75px;
  vertical-align: middle;
  margin-left: 15px;
  display: inline-block;
}

.container{
  width: 100vw;
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: minmax(614px, auto);
}

.menu{
  background: #1C7BA2;
  display: inline-block;
}

.form{
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
}

.color_form{
  background: #FF0000;
}

.color_itens{
  background: #00BFFF;
}

.container_pdv{
  width: 100vw;
  display: grid;
  grid-template-columns: 320px 600px auto;
  grid-template-rows: minmax(614px, auto);
}

.form_pdv{
  padding: 20px 20px;
  display: inline-block;
}

.itens{
  padding-top: 20px;
  padding-left: 0;
  padding-right: 20px;
  display: inline-block;
}

.form_group{
  padding-top: 2em;
}

.footer{
  width: 100vw;
  display: grid;
  grid-template-columns: 320px auto;
}

.footer_col1{
  height: 40px;
  background: #1C7BA2;
  display: inline-block;
}

.footer_col2{
  height: 40px;
  display: inline-block;
}

.footer_col2 h6{
  margin-left: 10px;
  line-height: 40px;
  vertical-align: middle;  
}

.botao{
  padding-bottom: 0.5em;
}

.botao_verde, .botao_principal, .botao_secundario, .botao_acao_p, .botao_acao_s, select, label.checkbox {
    cursor: pointer;
}

.botao_verde{
  font-size: 1em;
  font-weight:bold;
  background: #00A859;
  border: 0;
  color: #FFF;
  width: 145px;
  height: 35px;
}

.botao_verde:hover {
  background: #59BD7E;
}

.botao_principal{
  font-size: 1em;
  font-weight:bold;
  background: #00AFEF;
  border: 0;
  color: #FFF;
	width: 145px;
  height: 35px;
}

.botao_principal:hover {
  background: #42C3F1;
}

.botao_principal_rel{
  font-size: 1em;
  font-weight:bold;
  background: #00AFEF;
  border: 0;
  color: #FFF;
  width: 300px;
  height: 35px;
}

.botao_principal_rel:hover {
  background: #42C3F1;
}

.botao_secundario{
  font-size: 1em;
  font-weight:bold;
  background: #ED3237;
  border: 0;
  color: #FFF;
  width: 145px;
  height: 35px;
}

.botao_secundario:hover {
  background: #F16C72;
}

.botao_login{
  font-size: 1em;
  font-weight:bold;
  background: #00AFEF;
  border: 0;
  color: #FFF;
  width: 100%;
  height: 35px;
}

.botao_login:hover {
  background: #42C3F1;
}

.botao_acao{
  text-align: center;
  width: 140px;
}

.botao_acao_p{
  font-size: 0.75em;
  font-weight:bold;
  background: #00A859;
  border: 0;
  color: #FFF;
	width: 60px;
  height: 25px;
}

.botao_acao_p:hover{
  background: #59BD7E;
}

.botao_acao_s{
  font-size: 0.75em;
  font-weight:bold;
  background: #ED3237;
  border: 0;
  color: #FFF;
  width: 60px;
  height: 25px;
}

.botao_acao_s:hover{
  background: #F16C72;
}

.nav { margin-top: 50px; padding: 0; }
.nav li { list-style: none; background: #1C7BA2; width: 320px;}
.nav li a { font-size: 19px; font-weight: bold; display: block; padding: 10px 0 15px 40px; text-decoration: none; color: #FEFEFE; }
.nav > li:hover > a{ background: black; }
.nav li ul { display: none; }
.nav li:hover ul { display: block; }
.nav li:hover ul li { background: #333; }
.nav li:hover ul li a { color: #FEFEFE; }
.nav li:hover ul li a:hover { background: #222;}


fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.3em;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo2col{
  width: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
}

.campo2col_fu{
  width: 100%;
  display: grid;
  grid-template-columns: 74.5% 24.5%;
  grid-column-gap: 1%;
}

.campo2col_fu2{
  width: 100%;
  display: grid;
  grid-template-columns: 24.5% 74.5%;
  grid-column-gap: 1%;
}

.campo2col_pr{
  width: 100%;
  display: grid;
  grid-template-columns: 64.5% 34.5%;
  grid-column-gap: 1%;
}

.campo3col{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 24% 24%;
  grid-column-gap: 1%;
}

.campocol3{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
}

.campo4col{
  width: 100%;
  display: grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  grid-column-gap: 1%;
}

.campocol4{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.campo4col_ep{
  width: 100%;
  display: grid;
  grid-template-columns: 10% 47% 20% 20%;
  grid-column-gap: 1%;
}

.col1{
  width: 100%;
}


textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  min-height:90px;

  width: 100%;
}

.col2{
  display: inline-grid;
  width: 100%;
  margin-right: 20px;
}

.col3{
  display: inline-grid;
  width: 100%;
  margin-right: 20px;
}

.col4{
  display: inline-grid;
  width: 100%;
  margin-right: 20px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo input[type="file"],
.campo input[type="password"],
.campo select,
.campo textarea {
    height: 2em;
    border: 1px solid #00AFEF;
    box-shadow: 2px 2px 2px #00AFEF;
    display: block;
    font-size: 1.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

input[type="text"]:disabled{
    background:white;
    color:black;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="file"],
.campo input[type="password"],
.campo input[type="tel"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E1F3FC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.titulo_form{
  border-bottom: 0.2em solid #00AFEF;
  padding-bottom: 0.5em;
}

.titulo_table{
  padding-top: 3em;
  text-align: center;
  border-top: 0.2em solid #00AFEF;
}

.confirmacao_excluir{
  padding-top: 1em;
  border-bottom: : 0.2em solid #00AFEF;
}

.table{
  padding-top: 1em;
}

table {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;

}

table td, table th {
  border: 1px solid #00AFEF;
  padding: 6px;
}

/*table tr:nth-child(even){background-color: #AFE2F9;}*/

table tr:hover {background-color: #AFE2F9;}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #00AFEF;
  color: white;
}

#file{
  color: white;
}

.produto{
  display: block;
}

.item_pedido{
  display: table-cell;
  float: left;
  margin-right: 5px;
}

.foto{
  border: 1px solid #00AFEF;
  padding: 5px;
  width: 5.625em;
  height: 5.625em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.descricao{
  border: 1px solid #00AFEF;
  padding: 5px;
  width: 5.625em;
  height: 1em;
  text-align: center;
  vertical-align: middle;

}

.descricao p{
  font-family: Verdana, sans-serif;
  font-size: 10px;  
}

.form_pedidos{
  width: 100%;
  height: 300px;
  background: #DCF1FC;
}

.form_pdv .botao_verde, .botao_principal, .botao_secundario{
  width: 135.6px;
  height: 35px; 
}

.total_ped{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
}

.total_ped label{
  font-size: 14px;  
  font-weight: bold;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background: #DCF1FC;
  margin-left: 10px;
}

.total_ped input[type="text"]{
  font-size: 18px;  
  font-weight: bold;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background: #DCF1FC;
  text-align: right;
}

.qtd_itens, .vl_total{
  background: #DCF1FC;
  margin-right: 10px;
}

#v_observacao{
  display: none;
}

#div_obs{
  display: none;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #ADD8E6;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  width: 400px;
  height: 320px;
  border: 1px solid #00AFEF;
  box-shadow: 2px 2px 2px #00AFEF;
  background: white;
  display: block;
  padding: 20px;
}

#campocol4{
  background: #00AFEF;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px #00AFEF;
  display: table-cell;
  vertical-align: middle;
}

#label{
  color: white;
    font-size: 14px;
  font-style: bold;
    display: table-cell;
    vertical-align: middle;
}

.texto{
  margin-left: 20px;
}

#botao_rel{
  width: 100px;
}